---
permalink: /api/articulos.json
eleventyExcludeFromCollections: true
---
{% set filteredItems = articulos.items | excludeVineta | excludeIds(vinetaIds) %}
{{ {
  discourseBaseUrl: articulos.discourseBaseUrl,
  categoryUrl: articulos.categoryUrl,
  generatedAt: articulos.generatedAt,
  items: filteredItems,
  authors: articulos.authors,
  tags: articulos.tags
} | dump(2) | safe }}
