---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ "/sitemap.xml" | absoluteUrl(site.siteUrl) }}
Sitemap: {{ "/news-sitemap.xml" | absoluteUrl(site.siteUrl) }}
