@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .article-body img {
    border-radius: 0;
  }

  @media (max-width: 639px) {
    .article-body img {
      width: 100vw;
      max-width: none;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }
}
